<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.digging.mapper.TagsMapper">
    <resultMap id="TagsMapper" type="com.digging.entity.Tags">
        <result column="tag_name" property="tagName"/>
    </resultMap>

    <select id="getTagsList" resultMap="TagsMapper">
        select *
        from tags
        where id in (
            select tag_id
            from article_tags
            where article_id = #{articleId}
            );
    </select>
</mapper>